mixin head(title)
  head
    meta(charset="UTF-8")
    title= title 
    link(rel="stylesheet", href="/css/main.css")
    link#light-mode(rel="stylesheet", href="/css/main.dark.css")
    // https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="/js/main.js", defer)