include include/head.pug

doctype html
html(lang="en")
  +head("Sticker Spectrum")
  body
    include include/navbar.pug
    .content
      div#sale
      h1 Sticker Spectrum
      h2 Decorate life with your art!
      a(title=`Watty62, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, 
        via Wikimedia Commons`, href="https://commons.wikimedia.org/wiki/File:Sticker_table.jpg")
        #center
          img#titleimg(alt="Sticker table", src="/images/Sticker_table.jpeg")
      #para
        p
          | Wanting to promote your business or make a profit from your art? 
          strong Sticker Spectrum 
          | makes beautiful and durable stickers from 
          em any 
          | artwork or logos at your will at a favorable 
          | price and fast turnaround rate.
        p
          | Our services include:
        ol
          li Die cut stickers
          li Kiss cut sticker sheets
          li Transfer stickers
          li Labels
        p
          | You can choose from a wide variety of material (white/clear vinyl, washi paper, etc.), finish 
          | (gold/silver brushed, glitter, holographic, gold foiled etc.) and lamination (glossy or matte)
          | to best match all your design needs. If you&apos;re still unsure, you can always order our sample pack!
